DECLARE	@return_value int

EXECUTE @return_value = dbo.DatabaseBackup
@Databases = '{{ database }}',
@Directory = '{{ backupDirectory }}',
@BackupType = 'FULL',
@Verify = 'Y',
@Compress = 'Y',
@CleanupTime = 336  --14 days

SELECT	'Return Value' = @return_value

GO